<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vinner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
				<key>dateExpires</key>
				<string>03/10/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Braintree.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BraintreeDropIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CardinalMobile.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DatePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Extended.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7681461B9A2860D4168F7E4D62CAEEEDFEBC0BF4</string>
						<key>dateExpires</key>
						<string>03/10/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XLPSEH973Z</string>
						<key>name</key>
						<string>Aries Estrrado Technologies Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XLPSEH973Z.com.vinshopify.vinner</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XLPSEH973Z</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Vinner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>51fec667-ff44-41ac-871d-60595941d3a5</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.vinshopify.vinner</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XLPSEH973Z</string>
				<key>name</key>
				<string>Aries Estrrado Technologies Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
